@model shardymapy.Dto.NaveDto

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Registro de Nave</h4>
        </div>

        <form asp-action="Create" method="post">

            
            <div class="card-body">
                <!-- =========================
                WAREHOUSE  INFORMATION
                ========================== -->
                <div class="mb-3">
                    <label for="colorSelect" class="form-label">Escoge una almacen</label>
                    <select class="form-select" id="colorSelect" asp-for="Nave.Warehouse.Id" required>
                        <option selected value="0">-- selecionar almacen --</option>
                        @foreach (var warehouse in Model.Warehouses)
                        {
                            <option value="@warehouse.Id">
                                @warehouse.WarehouseAlias
                            </option>
                        }

                    </select>
                </div>

                <!-- =========================
                NAVE INFORMATION
                ========================== -->
                <h5 class="text-secondary mb-3">Datos Generales de la Nave</h5>

                <div class="mb-3">
                    <label class="form-label">Alias de la Nave</label>
                    <input type="text" class="form-control" asp-for="Nave.NaveAlias" placeholder="Ej: Nave A">
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" type="checkbox" asp-for="Nave.Estado">
                    <label class="form-check-label">¿Nave Bloqueada?</label>
                </div>


                <!-- =========================
                NAVE CONFIGURATION
                ========================== -->

                <h5 class="text-secondary mb-3">Configuración de la Nave</h5>

                <div>

                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <label class="form-label">Length X</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.Lenghtx">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Width Y</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.Widthy">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Height Z</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.Heightz">
                        </div>
                    </div>

                    <!-- Margins -->
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Margin Left X</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.MarginSizeLeftx">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Margin Right X</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.MarginSizeRightx">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Margin Top Y</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.MarginSizeTopy">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label class="form-label">Margin Bottom Y</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.MarginSizeBottony">
                        </div>
                    </div>

                    <!-- Pasillos -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Ancho del Pasillo (pasilloWidth)</label>
                            <input type="number" step="0.01" class="form-control" asp-for="Nave.NaveConfiguration.PasilloWidth">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Cantidad de Pasillos</label>
                            <input type="number" class="form-control" asp-for="Nave.NaveConfiguration.PasilloQuantity">
                        </div>
                    </div>

                    <!-- Dates -->
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Fecha Ingreso</label>
                            <input type="date" class="form-control" asp-for="Nave.NaveConfiguration.FechaIngreso">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Fecha Actualización</label>
                            <input type="date" class="form-control" asp-for="Nave.NaveConfiguration.FechaActualzicion">
                        </div>
                    </div>

                </div>

            </div>

            <div class="card-footer text-end">
                <button type="submit" class="btn btn-success">Guardar Nave</button>
            </div>
        </form>
    </div>
</div>

