@model shardymapy.Models.Anaquel.AnaquelLineaVistaFrontalConfiguration

<div class="container" >
    <h4 class="mb-3">Anaquel - Vista Frontal (Configuración)</h4>

    <form class="row g-3" asp-action="FrontalConfigUpdate"  method="post">

        <input type="hidden" asp-for="Id">
        
        <div class="col-md-4">
            <label class="form-label">nombre de configuracion</label>
            <input type="text" class="form-control"
                   asp-for="ConfigNombre" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Total Height Y</label>
            <input type="number" step="0.01" class="form-control"
                   asp-for="TotalHeighty" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Total Width X</label>
            <input type="number" step="0.01" class="form-control"
                   asp-for="TotalWidthx" />
        </div>

        <div class="col-md-4">
            <label class="form-label">Block Height Y</label>
            <input type="number" step="0.01" class="form-control"
                   asp-for="BlockHeighty" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Column Amount</label>
            <input type="number" step="1" class="form-control"
                   asp-for="ColumnAmount" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Row Amount</label>
            <input type="number" step="1" class="form-control"
                   asp-for="RowAmount" />
        </div>

        <!-- Anaquel list later: not shown -->

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
</div>