@using shardymapy.Models.User
@model IEnumerable<shardymapy.Models.User.User>


@{
   ViewData["Title"] = "user";
}
<body>

@await Html.PartialAsync("_forms",new User())

@await Html.PartialAsync("_UserTable")
</body>
