@model shardymapy.Dto.MapDto
@section Styles{
    <link rel="stylesheet" href="~/css/map/MapCss.css">
}
@{
    ViewData["Title"] = "map";
    
}



<div>
      @await Html.PartialAsync("partial/_WarehouseList")
      @await Html.PartialAsync("partial/_Maplayout")
</div>
